body {
    color: white;
    background-color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 25%;
    left: 0%;
}

.registerScreen {
    position: fixed;
    text-align: center;
    top: 25%;
    left: -50%;
}

.mainScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 150%;
    background-color: #2a303b;
}

.userSettingsScreen {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    top: -100%;
    background-color: #363636;
}

.findChatDiv {
    position: absolute;
    height: 0px;
    width: 0px;
    overflow: hidden;
    display: none;
}

.chatsDiv {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #363636;
}

.chatDiv {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    background-color: #2b2b2b;
}

.chatInfoDiv {
    text-align: center;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
    background-color: #363636;
}

#chatsTableDiv {
    position: relative;
    width: 80%;
    overflow-y: scroll;
}

#chatTableDiv {
    position: relative;
    width: 75%;
    height: 95%;
    overflow-y: scroll;
}

.chatsTable {
    position: relative;
    width: 100%;
}

.chatTable {
    position: relative;
    width: 100%;
}

.messageBox {
    position: absolute;
    width: 60%;
    bottom: 10px;
    left: 5px;
}

.messageSend {
    position: absolute;
    bottom: 10px;
    left: 61%;
}

.seenChat {
    background-color: #2b2b2b;
}

.unseenChat {
    background-color: #611313;
}

.myMessage {
    float: right;
    text-align: right;
    background-color: #611313;
    width: fit-content;
    min-height: 30px;
    padding: 5;
}

.otherMessage {
    background-color: #6e2525;
    width: fit-content;
    min-height: 30px;
    padding: 5;
}

.userInMessage {
    background-color: none;
    position: relative;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

.chatPic {
    width: 30px;
    height: 30px;
}

.infoImg {
    width: 100px;
    height: 100px;
}

.badInput {
    background-color: red;
}

@keyframes animLogin {
    100% {left: -100%;}
}

@keyframes animMainScreen {
    100% {left: 0%;}
}

@keyframes registerLogin {
    100% {left: 150%;}
}

@keyframes registerRegisterScreen {
    100% {left: 50%;}
}

@keyframes registeredLogin {
    0% {left: 150%}
    100% {left: 0%;}
}

@keyframes registeredRegisterScreen {
    0% {left: 50%;}
    100% {left: -50%;}
}

@keyframes userSettingsDown {
    0% {top: -100%;}
    100% {top: 0%}
}

@keyframes userSettingsUp {
    0% {top: 0%;}
    100% {top: -100%}
}